.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );;
}

.title {
    color: grey;
    font-size: 18px;
}

.adminCardButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.link {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.adminCardButton:hover, .link:hover {
    opacity: 0.7;
}